In [3]:
import pandas as pd

In [26]:
import pandas as pd

path = 'models/source.bdf'

# Using Pandas with a column specification
col_specification = [(0, 8), (9, 16), (17, 24), (25, 32), (33, 40), (34, 48), (49, 56), (57,64), (58,72), (73, 80)]
data = pd.read_fwf(path, colspecs=col_specification, header=None)

In [45]:
data.iloc[900:,0:8]

,0,1,2,3,4,5,6,7
900,GRID,3874385,NaN,51.6974,774.106,74.10663.13334,NaN,NaN
901,GRID,3874386,NaN,53.8201,774.564,74.56467.55421,NaN,NaN
902,GRID,3874387,NaN,53.2956,774.935,74.93551.28264,NaN,NaN
903,GRID,3874390,NaN,51.9551,-769.18,769.1867.46318,NaN,NaN
904,GRID,3874391,NaN,61.9169,795.764,95.76467.66024,NaN,NaN
...,...,...,...,...,...,...,...,...
2986,$ANSA_PA,T;PART;,D;6274;,ID;6362,00;NAME,0;NAME;63621TY,_A000H1,BELONGS
2987,$VERSION,0;PID_O,FSET;0;,OLOR;17,;147;16,147;160;0;IS_C,LOR_ACT,VE;1;AT
2988,$le Type,ANSA;DM,Status;,IP;CONT,INS;PSH,NS;PSHELL;6362,00;,NaN
2989,$$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$$$$$$$$,$$$$$$$,$$$$$$$
2990,$$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$$$$$$$$,$$$$$$$,$$$$$$$

In [47]:
data.set_index(0).filter(regex='^SPC$', axis=0)

        1     2       3    4    5    6    7    8    9
0
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
..    ...   ...     ...  ...  ...  ...  ...  ...  ...
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC  8000  1000  123456   0.   0.  NaN  NaN  NaN  NaN

[65 rows x 9 columns]

In [57]:
data[(data[0]=="SPC") & (data[1]]

AttributeError: 'Series' object has no attribute 'isnan'

In [42]:
data[(data[0]=="SPC") & (data[1]!="")]

        0     1     2       3    4    5    6    7    8    9
21    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
32    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
46    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
55    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
69    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...   ...   ...     ...  ...  ...  ...  ...  ...  ...
720   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
729   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
743   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
752   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
2527  SPC  8000  1000  123456   0.   0.  NaN  NaN  NaN  NaN

[65 rows x 10 columns]